@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<p><strong>Author: </strong>@ViewData["Author"]</p>
<p><strong>Email: </strong>@ViewData["Email"]</p>
<p><a href="@ViewData["LinkedIn"]" target="_blank" rel="external">LinkedIn</a></p>
<p><a href="@ViewData["GitHub"]" target="_blank" rel="external">GitHub</a></p>
